body {
  background-color: rgb(247, 242, 242);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img {
  margin-top: 50px;
  margin-bottom: 30px;
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .img {
    width: 100%;
  }
}
